Django==4.0.6
django-environ==0.4.5
django-filter==22.1
psycopg2-binary==2.8.5
Pillow==7.1.2
djangorestframework==3.13.1
django-cors-headers==3.11.0
celery==5.2.7
drf-yasg2==1.19.4

django-redis==4.12.1   # https://github.com/jazzband/django-redis
